# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\stuff\Projects\techmate_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
